@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
    --color-background: #E6E9EB;
    --color-background-calculator: #FFFFFF;
    --color-accent-1: #DF4695;
    --color-accent-2: #F8B62E;
    --color-button-text: #000000;
    --color-button-text-light: #FFFFFF;
    --color-button-background-dark: #EAEAEA;
    --color-button-background-hover: #FBFBFB;
    --color-button-background-dark-hover: #E0E0E0;
    --color-input: #FFFFFFA0;
    --color-output: #FFFFFF;
}

* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

html {
    font-size: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background);
    display: grid;
    place-items: center;
}

.calculator {
    width: 40rem;
    height: 65rem;
    background-color: var(--color-background-calculator);
    border-radius: 1.5rem;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr calc(5 * 10rem);
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);

    &__top {
        background: linear-gradient(45deg, var(--color-accent-1), var(--color-accent-2));
        padding: 3rem 2.5rem 0 2.5rem;
    }

    &__input {
        color: var(--color-input);
        font-size: 2.5rem;
    }

    &__output {
        color: var(--color-output);
        font-size: 5rem;
        text-align: right;
        font-weight: 700;
    }

    &__bottom {
        display: grid;
        grid-template-columns: repeat(4, 10rem);
        grid-template-rows: repeat(5, 10rem);
    }

    &__button {
        display: grid;
        place-items: center;
        font-size: 3.5rem;
        color: var(--color-button-text);
        background-color: var(--color-background-calculator);
        user-select: none;
        cursor: pointer;

        &:hover {
            background-color: var(--color-button-background-hover);
        }

        &--dark {
            background-color: var(--color-button-background-dark);

            &:hover {
                background-color: var(--color-button-background-dark-hover);
            }
        }

        &--highlighted {
            background: linear-gradient(45deg, var(--color-accent-1), var(--color-accent-2));
            color: var(--color-button-text-light);
        }
    }
}
